In [1]:
# # red neuronal en pytroch

# import torch
# import torch.nn as nn
# import torch.nn.functional as F
# import torch.optim as optim

# torch.manual_seed(1)

# # datos de entrenamiento
# x_train = torch.FloatTensor([[1], [2], [3]])
# y_train = torch.FloatTensor([[2], [4], [6]])

# # definir la red neuronal
# class Net(nn.Module):
#     def __init__(self):
#         super().__init__()
#         self.linear = nn.Linear(1, 1)

#     def forward(self, x):
#         return self.linear(x)
    
# model = Net()

# # definir el optimizador y la funcion de perdida
# optimizer = optim.SGD(model.parameters(), lr=0.01)
# loss_fn = F.mse_loss

# # entrenamiento
# nb_epochs = 2000
# for epoch in range(nb_epochs + 1):
    
#         # H(x) calculo
#         prediction = model(x_train)
    
#         # coste
#         cost = loss_fn(prediction, y_train)
    
#         # inicializar los gradientes a 0
#         optimizer.zero_grad()
#         # retropropagar
#         cost.backward()
#         # actualizar los pesos
#         optimizer.step()
    
#         # 100 epocas
#         if epoch % 100 == 0:
#             # mostrar el progreso
#             params = list(model.parameters())
#             W = params[0].item()
#             b = params[1].item()
#             print('Epoch {:4d}/{} W: {:.3f}, b: {:.3f} Cost: {:.6f}'.format(
#                 epoch, nb_epochs, W, b, cost.item()
#             ))

# # H(x) calculo
# new_var = torch.FloatTensor([[4.0]])
# pred_y = model(new_var)
# print("Prediccion de y cuando x es 4: ", pred_y)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.backends.backend_pdf import PdfPages

# Read the data, all strings
df_copy = pd.read_excel('compilado_delitos_2022.xlsx', dtype=str)

# eliminar columnas

In [3]:
df = df_copy.copy()
print(df.shape)# Print columns of the dataset
print(df.columns)
df.head()

(349804, 42)
Index(['folio', 'origen_incidente', 'fecha_creacion', 'hora_creacion',
       'dia_semana', 'fecha_cierre', 'hora_cierre', 'usuario_inicia',
       'existe_video', 'numero_llamante', 'nombre_llamante',
       'numero_alternativo', 'incidente_c4', 'tipo_intervencion_c2', 'calle',
       'numero', 'esquina', 'colonia', 'codigo_postal', 'delegacion_inicio',
       'sector_inicio', 'c2_inicio', 'latitud', 'longitud', 'senias',
       'codigo_cierre', 'comentarios', 'detenidos', 'tiempo_resp_fce',
       'clas_con_f_alarma', 'tipo_entrada', 'delegacion_cierre',
       'sector_cierre', 'c2_cierre', 'usuario_cierre', 'usuario_intervencion',
       'folio_padre', 't_aten_066', 't_desp_c2_c4', 't_unidad', 't_total',
       'inc-clas'],
      dtype='object')

,folio,origen_incidente,fecha_creacion,hora_creacion,dia_semana,fecha_cierre,hora_cierre,usuario_inicia,existe_video,numero_llamante,...,sector_cierre,c2_cierre,usuario_cierre,usuario_intervencion,folio_padre,t_aten_066,t_desp_c2_c4,t_unidad,t_total,inc-clas
0,C5/20220402/02038,LLAMADA DEL 911,2022-04-02,1899-12-31 07:52:10,Sábado,2022-04-02,1899-12-31 12:35:40,C51098712,NaN,5577358197,...,CUAUTEPEC,C2 Norte,CN827335,CN827335,-,NaN,2.4305555555555552E-4,2.1412037037037038E-3,3.0439814814814821E-3,Robo-Vehículo sin Violencia-DELITO DE ALTO IMP...
1,C5/20220414/03517,LLAMADA DEL 911,2022-04-14,1899-12-31 19:55:24,Jueves,2022-04-14,1899-12-31 23:00:08,C51052088,NaN,5561576497,...,TEPEPAN,C4i,JOBSISTEMA,CO940570,-,NaN,4.1666666666666669E-4,1.7708333333333332E-3,2.5925925925925925E-3,Denuncia-Persona Sospechosa-SERVICIO
2,C5/20220407/04287,LLAMADA DEL 911,2022-04-07,1899-12-31 22:10:55,Jueves,2022-04-08,1899-12-31 02:39:15,C51098777,NaN,4494557234,...,ARAGON,C2 Norte,CN834171,CN834171,-,NaN,3.0092592592592595E-4,-:-:-,-:-:-,Robo-Vehiculo con Violencia-DELITO DE ALTO IMP...
3,C5/20220407/04172,LLAMADA DEL 911,2022-04-07,1899-12-31 21:41:51,Jueves,2022-04-08,1899-12-31 05:19:40,C5917313,NaN,5591224649,...,TEZONCO,C4i,JOBSISTEMA,CO1127834,C5/20220407/04188,NaN,9.3750000000000007E-4,3.5069444444444445E-3,5.6134259259259271E-3,Robo-Vehiculo con Violencia-DELITO DE ALTO IMP...
4,C5/20220408/01398,LLAMADA DEL 911,2022-04-08,1899-12-31 11:02:29,Viernes,2022-04-08,1899-12-31 13:55:42,C51098787,NaN,5514788326,...,HUIPULCO-HOSPITALES,C2 Sur,CS828374,CS828374,-,NaN,2.1064814814814813E-3,4.0509259259259258E-4,3.5185185185185185E-3,Robo-Vehículo sin Violencia-DELITO DE ALTO IMP...

In [4]:

# Remove YYYY-MM-DD in field hora_creacion
df['hora_creacion'] = df['hora_creacion'].str[11:13]
# Remove rows with date 2021-12-31
df = df[df.fecha_creacion != '2021-12-31']
df = df[df.fecha_creacion != '2023-01-01']
# Remove YYYY of field fecha_creacion
df['fecha_creacion'] = df['fecha_creacion'].str[5:]
# Map dia_semana from name to int-name
df['dia_semana'] = df['dia_semana'].replace({'Lunes':'1', 'Martes':'2', 'Miércoles':'3', 'Jueves':'4', 'Viernes':'5', 'Sábado':'6', 'Domingo':'7'})
# Map mes_creacion from name to int-name
df['mes_creacion'] = df['fecha_creacion'].str[:2]
# Map dia-mes_creacion from name to int
df['dia_creacion'] = df['fecha_creacion'].str[3:]

# de df_copy guardar solo las columnas hora_creacion, dia_creacion, dia_semana, mes_creacion, latitud, longitud
df= df[['hora_creacion', 'dia_creacion', 'dia_semana', 'mes_creacion', 'latitud', 'longitud']]

df.head()

  hora_creacion dia_creacion dia_semana mes_creacion    latitud     longitud
0            07           02          6           04  19.540726  -99.1446619
1            19           14          4           04  19.220329   -99.095439
2            22           07          4           04  19.466062   -99.064584
3            21           07          4           04  19.294715   -99.065944
4            11           08          5           04  19.264921   -99.162166

In [5]:
df

,hora_creacion,dia_creacion,dia_semana,mes_creacion,latitud,longitud
0,07,02,6,04,19.540726,-99.1446619
1,19,14,4,04,19.220329,-99.095439
2,22,07,4,04,19.466062,-99.064584
3,21,07,4,04,19.294715,-99.065944
4,11,08,5,04,19.264921,-99.162166
...,...,...,...,...,...,...
349799,20,30,5,09,19.3813584,-99.0809415
349800,21,30,5,09,19.465155,-99.080758
349801,20,30,5,09,19.372739,-99.206975
349802,19,30,5,09,19.282041,-99.009973
349803,18,30,5,09,19.30477,-99.20651