In [83]:
import pandas as pd
# Install xlsxwriter if you don't have it
# !pip install xlsxwriter

PATH_DATA = '../'
# Create a sample dataframe
data = pd.read_excel(PATH_DATA+'Folios_boton_promad_2023-02-12.xlsx', dtype=str, sheet_name='Folios')
data.head()
# Create a pivot table
pivot_table = pd.pivot_table(
    data[data['C2_INICIO']=='C2 PONIENTE'], 
    values='FOLIO', 
    index='CODIGO_MOTIVO_CIERRE_INSTITUCION', 
    columns=['mes_cierre', 'sin_corregir'], 
    margins=True, margins_name='TOTAL',
    aggfunc='count', fill_value=0
)

# Drop any coloumns where pair is (Any, 'Corregido')
pivot_table = pivot_table.drop(columns='Corregido', level=1)
# Sum again column TOTAL to get the total of the row
pivot_table['TOTAL'] = pivot_table.sum(axis=1)
# Rename index to C贸digo de cierre
pivot_table.index.name = 'C贸digo de cierre'

In [84]:
# Sum as int
pivot_table['TOTAL'] = pivot_table.drop(columns='TOTAL').sum(axis=1).astype(int)
print(pivot_table.columns)
pivot_table

MultiIndex([('Diciembre', 'Sin corregir'),
            (    'Enero', 'Sin corregir'),
            (  'Febrero', 'Sin corregir'),
            (    'TOTAL',             '')],
           names=['mes_cierre', 'sin_corregir'])

mes_cierre          Diciembre        Enero      Febrero TOTAL
sin_corregir     Sin corregir Sin corregir Sin corregir
C贸digo de cierre
ACI                         3            2            4     9
ASI                        41           26           19    86
CM                          0            0            0     0
D                          41           19            3    63
F                          17            9            9    35
I                           2            3            1     6
SYS                       163          124          107   394
TOTAL                     267          183          143   593

In [85]:
pivot_table_final = pivot_table.loc[:'SYS'][:-1]
pivot_table_final.loc['SUB TOTAL'] = pivot_table_final.sum()
pivot_table_final = pd.concat([pivot_table_final, pivot_table.loc['SYS':]])
pivot_table = pivot_table_final

In [82]:
pivot_table_final.index

Index(['ACI', 'ASI', 'CM', 'D', 'F', 'I', 'SUB TOTAL', 'SYS', 'TOTAL'], dtype='object', name='CODIGO_MOTIVO_CIERRE_INSTITUCION')

In [86]:

# # Write the pivot table to an Excel file
writer = pd.ExcelWriter('pivot_table.xlsx', engine='xlsxwriter')
pivot_table.to_excel(writer, sheet_name='Sheet1')
writer.save()

C:\Users\jddel\AppData\Local\Temp\ipykernel_8572\2085802258.py:4: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()